.about {
  padding: 4rem 0;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  
}

.about h2::after{
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    width: 22%;
    height: 1px;
    background-color: #0040BD;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about-content img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.about-text {
  max-width: 600px;
}

.about-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.5;
}

.about-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.about-icons img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* asdasd/ */