/* 박스 모델 관련 속성 초기화 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 목록 요소의 기본 패딩 제거 */
ul[class],
ol[class] {
  padding: 0;
}

/* 요소의 기본 여백 제거 */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* 기본 body 스타일 설정 */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* 목록 스타일 제거 */
ul,
ol {
  list-style: none;
}

/* 클래스가 없는 a 요소에 대한 기본 스타일 설정 */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* 이미지 사이즈 조절 */
img {
  max-width: 100%;
  display: block;
}

/* article 내에서 자연스러운 간격 설정 */
article > * + * {
  margin-top: 1em;
}

/* 입력 요소와 버튼에 대해 폰트 상속 설정 */
input,
button,
textarea,
select {
  font: inherit;
}
